{namespace core = TYPO3\CMS\Core\ViewHelpers}

<tr class="tx_beacl-edit-acl-row" data-acluid="{pageAcl.uid}">
	<td>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<f:render
					partial="Permission/EditTypeSelector"
					arguments="{
						aclId: pageAcl.uid,
						aclType: pageAcl.type,
						options: typeOptions
					}"
				/>
			</div>
			<div class="col-xs-12 col-md-6">
				<f:if condition="{pageAcl.type}==1">
					<f:then>
						<f:render
							partial="Permission/EditUserGroupSelectors"
							arguments="{
								acl: pageAcl,
								options: groupOptions
							}"
						/>
					</f:then>
					<f:else>
						<f:render
							partial="Permission/EditUserGroupSelectors"
							arguments="{
								acl: pageAcl,
								options: userOptions
							}"
						/>
					</f:else>
				</f:if>
			</div>
		</div>
	</td>

	<td>
		<div class="form-check form-check-type-toggle">
			<input class="form-check-input" type="checkbox" name="check[perms_acl_{pageAcl.uid}][1]" value="1"  data-check-change-permissions="check[perms_acl_{pageAcl.uid}],data[tx_beacl_acl][{pageAcl.uid}][permissions]" />
		</div>
	</td>
	<td>
		<div class="form-check form-check-type-toggle">
			<input class="form-check-input" type="checkbox" value="16" name="check[perms_acl_{pageAcl.uid}][5]" data-check-change-permissions="check[perms_acl_{pageAcl.uid}],data[tx_beacl_acl][{pageAcl.uid}][permissions]" />
		</div>
	</td>
	<td>
		<div class="form-check form-check-type-toggle">
			<input class="form-check-input" type="checkbox" value="2" name="check[perms_acl_{pageAcl.uid}][4]" data-check-change-permissions="check[perms_acl_{pageAcl.uid}],data[tx_beacl_acl][{pageAcl.uid}][permissions]" />
		</div>
	</td>
	<td>
		<div class="form-check form-check-type-toggle">
			<input class="form-check-input" type="checkbox" value="4" name="check[perms_acl_{pageAcl.uid}][3]" data-check-change-permissions="check[perms_acl_{pageAcl.uid}],data[tx_beacl_acl][{pageAcl.uid}][permissions]" />
		</div>
	</td>
	<td>
		<div class="form-check form-check-type-toggle">
			<input class="form-check-input" type="checkbox" value="8" name="check[perms_acl_{pageAcl.uid}][4]" data-check-change-permissions="check[perms_acl_{pageAcl.uid}],data[tx_beacl_acl][{pageAcl.uid}][permissions]" />
		</div>
	</td>
	<td>
		<input type="hidden" name="data[tx_beacl_acl][{pageAcl.uid}][permissions]" value="{pageAcl.permissions}" data-checkbox-group="check[perms_acl_{pageAcl.uid}]"/>
		<input type="hidden" name="data[tx_beacl_acl][{pageAcl.uid}][pid]" value="{pageAcl.pid}" />
		<input type="hidden" name="data[tx_beacl_acl][{pageAcl.uid}][recursive]" value="0" />
		<div class="form-check form-check-type-toggle">
			<input class="form-check-input" type="checkbox" name="data[tx_beacl_acl][{pageAcl.uid}][recursive]" value="1" {f:if(condition:'{pageAcl.recursive}==1', then: 'checked="checked"')} />
		</div>
	</td>
	<td><a href="#" class="tx_beacl-edit-delete" data-acluid="{pageAcl.uid}" data-toggle="tooltip" data-placement="top" title="{f:translate(key: 'LLL:EXT:be_acl/Resources/Private/Languages/locallang_perm.xlf:delAcl')}"><core:icon identifier="actions-delete" /></a></td>
</tr>
